body {
    text-align: center;
}

.hide {
    display: none;
}

#timer {
    color: blueviolet
}

#start-game {
    background-color: blueviolet;
}

#question {
    color: blue;
    font-size: 30px;
}

.response {
    color: #384663;
    font-size: 20px;
    padding: 1%;

}

#submit {
    color:blueviolet;
}   

#results {
    font-size: 20px;
    padding: 1%;
    display:inline-block;
}
